<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script  th:inline="javascript">
	function deleteIt(num)
	{
		
		
		if(!confirm('해당 게시물을 삭제하시겠어요?')) return;
		$.ajax({
			url: '/person/delete/'+num,
			method:'get',
			cache:false,
			dataType:'json',
			success:function(res){
				alert(res.deleted? '삭제 성공':'Failed');
				location.href='/person/list';
			},
			error:function(xhr,status,err){
				alert('Error:'+err);
			}
		});
	}
</script>

</head>
<body>

  
인물정보:<div th:text="'번호:'+${p.num}" id="num"></div>
    <div th:text="'이름:'+${p.name}"></div>
    <div th:text="'이메일:'+${p.email}"></div>
    <div th:text="'나이:'+${p.age}"></div>
   
 <a  th:href="@{'/person/edit/'+${p.num}}">수정하기</a>
 
<a th:onclick="'javascript:deleteIt('+${p.num}+');'">삭제하기</a>

</body>
</html>